
/*Responsive*/

@media(max-width:992px) {
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom: 15px
    }

    .table td{
        text-align: right !important; 
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

   
}


/*Botnos eliminar y editar*/

/* @media(max-width:992px ) {
    .table .btnOne{
        margin-bottom: 5px
    }
}

@media(max-width:790px ) {
    .table .btnOne{
        margin-bottom: 0px
    }
} */

