/****** Object:  Table [dbo].[customer]    Script Date: 9/7/2022 10:13:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[idCustomer] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[document] [int] NOT NULL,
	[phoneNumber] [nvarchar](50) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 9/7/2022 10:13:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[idProduc] [int] IDENTITY(1,1) NOT NULL,
	[idProvider] [int] NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NULL,
	[price] [decimal](18, 0) NOT NULL,
	[amount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provider]    Script Date: 9/7/2022 10:13:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provider](
	[idProvider] [int] NOT NULL,
	[provider_name] [nvarchar](50) NOT NULL,
	[nit] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[phone] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale]    Script Date: 9/7/2022 10:13:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale](
	[idSale] [int] IDENTITY(1,1) NOT NULL,
	[idCustomer] [int] NOT NULL,
	[date] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saleDetail]    Script Date: 9/7/2022 10:13:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saleDetail](
	[idDetail] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[idSale] [int] NOT NULL,
	[amountSale] [int] NOT NULL,
	[total_price] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 9/7/2022 10:13:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([idCustomer], [name], [surname], [document], [phoneNumber], [mail], [password]) VALUES (1, N'duban', N'zapata', 1000000000, N'3210000000', N'duban@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([idProduc], [idProvider], [product_name], [description], [price], [amount]) VALUES (1, 1, N'producto', N'descripcion', CAST(1000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[provider] ([idProvider], [provider_name], [nit], [address], [phone]) VALUES (1, N'proveedor', N'800118660', N'bello', CAST(3214465979 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[sale] ON 

INSERT [dbo].[sale] ([idSale], [idCustomer], [date]) VALUES (1, 1, CAST(N'2022-09-07' AS Date))
SET IDENTITY_INSERT [dbo].[sale] OFF
GO
INSERT [dbo].[saleDetail] ([idDetail], [idProduct], [idSale], [amountSale], [total_price]) VALUES (1, 1, 1, 1, CAST(1000 AS Decimal(18, 0)))
GO
